.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2rem;
    height: 65px;
    width: 80%;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 5px;
}

@media screen and (max-width:998px) {
    .banner{
        width: 90%;
    }
}